body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("pexels-sebastian-ervi-1763075.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

h1 {
  text-align: center;
  color: #007bff;
}

.file-input-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.file-input-container {
  display: inline-block;
  margin-right: 10px;
}

.file-input {
  display: none;
}

.file-label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.file-label:hover {
  background-color: #0056b3;
}

.file-name {
  margin-right: 5px;
}

#custom-text1 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

#custom-text2 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

#custom-text3 {
  margin-left: 10px;
  font-family: sans-serif;
  color: #aaa;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

canvas#visualizer {
  display: block;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  height: 150px;
  background-color: aliceblue;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

.row {
  margin-left: 62%;
  display: flex;
  align-items: center;
}

.slider-container {
  flex: 1;
}

.grid label {
  font-weight: bold;
}

.grid input[type="range"] {
  -webkit-appearance: slider-vertical;
  width: 100px;
  height: 200px;
  margin: 0 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  width: 5px;
  height: 100%;
  background-color: #e9ecef;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #007bff;
  border-radius: 50%;
  border: none;
  margin-left: -5px;
}

input[type="range"]:focus {
  outline: none;
}

a {
  margin-left: 43%;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  background-color: #0056b3;
}
